body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f5fb;
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 30px;
    background: #7b6cf6;
    color: white;
}

section {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
}

#btn {
    background: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

#box {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input {
    padding: 6px;
}

#btncol {
    background: #7b6cf6;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
}

footer {
    text-align: center;
    padding: 10px;
    background: white;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 99%;
    font-size: 12px;
}

footer a {
    color: #5b4df5;
}
::placeholder {
    font-size: 14px;
}